<!-- BM61Parser/templates/BM61Parser/index.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter BM61</title>
    <link rel="stylesheet" href="{% static 'BM61Parser/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Enter BM61</h1>
        <form method="post" action="{% url 'BM61Parser:process_input' %}">
            {% csrf_token %}
            <label for="user_input">Enter a string:</label>
            <textarea name="user_input" id="user_input" rows="4" cols="50">{{ user_input }}</textarea>

            <br>
            <button type="submit">Process</button>
        </form>

        {% comment %} {% if user_input %}
            <h2>User Input:</h2>
            <p>{{ user_input }}</p>
        {% endif %} {% endcomment %}

        {% if results %}
            <h2>Results:</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Length</th>
                        <th>Subfield</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr class="result">
                            <td>{{ result.length }}</td>
                            <td>{{ result.subfield }}</td>
                            <td class="value">{{ result.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</body>
</html>
