body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    height: 100vh;
    margin: 0;
}
form, .output-container {
    margin: 10px;
    flex: 1;
    min-width: 300px;
}
.output-container {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.button-container {
    margin-top: 10px;
}


/* Style for the Home button */
.home-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    z-index: 999; /* Ensure it's on top of other elements */
}

/* Hover effect for the Home button */
.home-btn:hover {
    background-color: #0056b3; /* Darker shade of blue */
}
