{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to JSON</title>
    <link rel="stylesheet" href="{% static 'splunk2mango/style.css' %}">
    <script src="{% static 'splunk2mango/script.js' %}"></script>
    </head>
<body>
    <form id="textInputForm" method="post" autocomplete="off">
        <h2>Enter 100 message:</h2>
        {% csrf_token %}
        {{ form.text }}
        <button type="submit">Convert</button>
    </form>

    {% if json_output %}
    <div class="output-container">
        <h2>JSON Output:</h2>
        <pre id="jsonOutput">{{ json_output }}</pre>
        <div class="button-container">
            <button id="copyButton" onclick="copyToClipboard()">Copy Code</button>
        </div>
    </div>
    {% endif %}
    <script src="script.js"></script>
</body>
</html>
