{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Beautiful Website</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'homepage/styles.css' %}">
</head>
<body>

<div class="nav">
    <a href="#">Home</a>
    <a href="{% url 'BM60Parser:index' %}">BM60Parser</a>
    <a href="{% url 'splunk2mango:text_to_json' %}">splunk2mango</a>
    <a href="{% url 'upload_log_file' %}">Filter MC EMVCo Logs</a> <!-- New link added here -->
    <button id="generate-and-copy-button">Generate and Copy Data</button>
    {% comment %} <a href="BM60Parser\templates\BM60Parser\json2yaml.html" target="BM60Parser\templates\BM60Parser\json2yaml.html">Json to Yaml Converter</a> <!-- New link for opening external HTML in a new tab --> {% endcomment %}
    <a href="{% url 'BM60Parser:json2yaml' %}" target="BM60Parser\templates\BM60Parser\json2yaml.html">Json to Yaml Converter</a>

</div>

<div class="container">
    <!-- Your page content goes here -->
    <h1>Welcome to My Beautiful Website!</h1>
    <div id="generated-data-container"></div>
</div>

<!-- Include jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- JavaScript code for AJAX request -->
<script>
    $(document).ready(function() {
        $("#generate-and-copy-button").click(function() {
            $.ajax({
                url: "{% url 'sysgende:generate_data' %}",
                type: "GET",
                success: function(data) {
                    // Remove curly braces from JSON string
                    var jsonData = JSON.stringify(data, null, 2).slice(1, -1);

                    // Display data
                    var generatedDataContainer = $("#generated-data-container");
                    generatedDataContainer.empty();
                    generatedDataContainer.append("<pre>" + jsonData + "</pre>");

                    // Copy data to clipboard
                    var textArea = document.createElement("textarea");
                    textArea.value = jsonData;
                    document.body.appendChild(textArea);
                    textArea.select();
                    document.execCommand("copy");
                    document.body.removeChild(textArea);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

</body>
</html>
