<!-- splunk2json/templates/splunk2json/process_data_form.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Data</title>
    <link rel="stylesheet" href="{% static 'splunk2json/process_data_form.css' %}">
</head>
<body>
    <div class="container">
        <a href="{% url 'homepage:home' %}" class="home-btn">Home</a>
        <h1>Enter Data to Process</h1>
        <!-- Add the anchor tag here -->
        <form id="data-form" method="post">
            {% csrf_token %}
            <textarea name="input_data" id="input-data" rows="10" placeholder="Enter data here..."></textarea>
            <button type="submit" id="submit-btn">Process</button>
        </form>
    </div>
    <script src="{% static 'splunk2json/process_data_form.js' %}"></script>
</body>
</html>
